src/main/mule/7thmodule-ws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	
	<flow name="helloFlow" doc:id="59bc93bb-9e71-4ab9-a4b5-dec5a491e855" >
		<http:listener doc:name="GET /hello" doc:id="883d04ad-9d1e-4cd8-89f9-841906120165" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="Sub_Flow " doc:id="94edeb04-a6a8-41ec-94d7-9e4332958288" name="Sub_Flow"/>
		<vm:publish queueName="goodbye" doc:name="Vm goodbye" doc:id="25b12535-4abc-4ba8-b0c8-2e25c490f401" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="61725194-cc20-4c23-9d93-42105d8060eb" message="#['\n Message: ' ++ payload]"/>
	</flow>
	<flow name="privateFlow" doc:id="71e0a348-8429-4582-8185-e19263948aea">
		<http:request method="GET" doc:name="get goodbye" doc:id="bef02976-0756-4ad2-94c0-f3595c0a4c96" config-ref="HTTP_Request_configuration" path="/goodbye" responseTimeout="300000">
			<http:query-params><![CDATA[#[output application/java
---
{
	"fullname" : attributes.queryParams.lname
}]]]></http:query-params>
		</http:request>
	</flow>
	<sub-flow name="Sub_Flow" doc:id="46c7cd71-f84b-471f-b597-ee1de2247873" >
		<set-variable value="#[message.attributes.queryParams.fname]" doc:name="firstName" doc:id="c6f6c619-7f0c-4e7b-adb0-84c42a471f7e" variableName="firstName" />
		<set-payload value="Hello" doc:name="hello" doc:id="b12baad5-f228-4e27-abb6-33a76830db44" />
	</sub-flow>
	<flow name="goodbyeFlow" doc:id="21f3c0a6-862b-421d-a61a-f2a8911e8e77" >
		<vm:listener queueName="goodbye" doc:name="Vm goodbye" doc:id="1eb9d10e-75ce-4da8-a9d5-79126f1c763a" config-ref="VM_Config"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullname default 'Maxine')]" doc:name="Goodbye" doc:id="29232e61-e55d-4de1-8fdc-e58f77d0605c" />
		<logger level="INFO" doc:name="Logger" doc:id="94d5e268-6e22-4658-b7f9-edee6a4dd781" message="#[attributes.queryParams.fullname]"/>
	</flow>
</mule>
